.App {
  text-align: center;
}


.App-intro {
  font-size: large;
}

.headerText{
  color:whitesmoke;
}

body {
  background-image: url("https://ak5.picdn.net/shutterstock/videos/535255/thumb/1.jpg")
  }


